<section class="mh-skills" id="mh-skills">
  <div class="home-v-img">
      <div class="container">
          <div class="row section-separator">
              <div class="section-title text-center col-sm-12">
                  <!--<h2>Skills</h2>-->
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="mh-skills-inner">
                      <div class="mh-professional-skill wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                          <h3>Technical Skills</h3>
                          <div class="each-skills" *ngFor="let skill of skills">
                              <div class="candidatos">
                                  <div class="parcial">
                                      <div class="info">
                                          <div class="nome">{{skill.name}}</div>
                                          <div class="percentagem-num">{{skill.rate}}%</div>
                                      </div>
                                      <div class="progressBar">
                                          <div class="percentagem" [style.width]="skill.rate+'%'"></div>
                                      </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="mh-professional-skills wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                      <h3>Professional Skills</h3>
                      <ul class="mh-professional-progress">
                          <li>
                              <div class="mh-progress mh-progress-circle" data-progress="80"></div>
                              <div class="pr-skill-name">Communication</div>
                          </li>
                          <li>
                              <div class="mh-progress mh-progress-circle" data-progress="90"></div> 
                              <div class="pr-skill-name">Team Work</div>
                          </li>
                          <li>
                              <div class="mh-progress mh-progress-circle" data-progress="80"></div>
                              <div class="pr-skill-name">Project Management</div>
                          </li> 
                          <li>
                              <div class="mh-progress mh-progress-circle" data-progress="70"></div>
                              <div class="pr-skill-name">Creativity</div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>