<section class="mh-experince image-bg featured-img-one" id="mh-experience">
  <div class="img-color-overlay">
      <div class="container">
          <div class="row section-separator">
              
              <div class="col-sm-12 col-md-12">
                  <div class="mh-work">
                       <h3>Work Experience</h3>
                      <div class="mh-experience-deatils" *ngFor="let exp of experience">
                      
                          <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                              <h4>{{exp.role}} <a href="{{exp.website}}" target="_blank"> {{exp.companyName}}</a></h4>
                              <div class="mh-eduyear">{{exp.period}}</div>
                              <span>Responsibility :</span>
                              <ul class="work-responsibility" *ngFor="let res of exp.responsibilities">
                                  <li><i class="fa fa-circle"></i>{{res.res}}</li>
                          
                              </ul>
                          </div>                                
                         
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>   